:root {
    --font-family:'Kumbh Sans', sans-serif;
    --font-familyTwo:'Overpass', sans-serif;
}

body{
    padding: 0%;
    margin: 0%;
}


:root {
    --font-family:'Kumbh Sans', sans-serif;
    --font-familyTwo:'Overpass', sans-serif;
}

body{
    padding: 0%;
    margin: 0%;
}

/* NAVIGATION BAR */

.mainLogo{
    margin: 10px 0 0 0;
    width: 80%;
    height: auto;
    cursor: pointer;
}

.main{
    font-family: var(--font-familyTwo);
    text-align: center;
    margin-top: 200px;

}
.main h1{
    color: rgb(56, 59, 66) ;
}
.main p{
    color: rgb(132, 201, 132);

}




@media only screen and (min-width: 600px) {
    .mainLogo{
        width: 40%;
        margin: 10px 100% 0 30px;
     }
     .main{
        font-family: var(--font-familyTwo);
        text-align: center;
        margin-top: 200px;
        font-size: 20px;
    
    }
    }
